<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
<table>
    {% for i in range (0,num2) %}
    <tr>
        {% for j in range (0,num) %}
        <td class="box1" style="background-color: {{color1}};"></td>
        <td class="box2" style="background-color: {{color2}};"></td>
        {% endfor %}
    </tr>
    <tr>
        {% for j in range (0,num) %}
        <td class="box2" style="background-color: {{color2}};"></td>
        <td class="box1" style="background-color: {{color1}};"></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>